html{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
}
body{
    background: black !important;
    font-family: 'Montserrat', sans-serif;
    color: rgb(226, 106, 106);
    overflow-x: hidden; 
    overflow-y: hidden;
}

/* Navbar for mobile*/
.overlay{
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    left:-100vw;
    top: 0;
    left: 0;
    background-color: rgb(41, 40, 40);
    overflow: hidden; 
    transition: 0.5s; 
  }

.overlay-content ul{
   list-style: none;
 }

  /* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%; 
    text-align: center; 
    margin-top: 30px; 
}

  /* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block; 
    transition: 0.3s; 
    font-size: 1.2em;
}

  /* Position the close button (top right corner) */ 
.overlay .closebtn {
    position: absolute;
    right: 35px;
    top: 2px;
    font-weight: 900;
  }

  body::-webkit-scrollbar {
    width: 0.2em;
  }
  
  body::-webkit-scrollbar-thumb {
  background-color:  #eb2893;
  outline: 1px solid rgb(187, 166, 166);
  }
  
  /* General classes */
  h1{
      text-align: center;
      color: #eb5e28;
      font-weight: 200;
      font-size: 2em;
  }
  h3{
      text-align: center;
      color: #f7931e;
      margin-top: 5vh;
      font-weight: 200;
      font-size: 1em;
  }

 /* paragraph text for all the pages and sections */
p{
  font-size: 14px;
  font-weight: 250;
  line-height: 18px;
  text-align: justify;
  text-size-adjust: 2px;
  margin: 20px;
}
  .MediaDiv{
      z-index: 20;
  }

 /*media icons */
.icon{
    display: inline-block;
    font-size: 1.5em;
    border: 1.5px solid white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 2px;
}

a{
  color: white;
}
a:hover{
  color:#f7931e;
}
.Desktop{
  display: none;

}

/* Mobile View */
 /* burger navbar */
.Bars{
    margin-left: -5vw;
    padding-top: 5px;
    margin-top: 5vw;
}

.closebtn{
  margin-left: 12vw;
  padding-top: 2px;
  margin-top: 3vw;
}

/* Landing  section */
.LandingSection{
  margin-top:-25vh;
}
 #LandingSection{
  background-image: url(../assests/images/A.jpg) !important;
  background-repeat: no-repeat;
 width: 100%;
  text-align: center;
}

.IntroDiv{
  color: white;
  font-weight: 350;
  padding: 15px;
  padding-top: 30vh;
}
/* Landing section button */
.LandingSectionButton{
  margin-bottom: -3vh;
}

.bookButton{
  color: white;
  background-color: #eb5e28;
  border-radius: 50px;
  font-weight: 600;
  width: 60vw;
  padding: 10px;
}

/*Second  div */
.block{
    width: 100vw;
    height: auto;
    margin: auto;
    text-align: center;
    background: rgb(41, 40, 40);
    margin-bottom: 5vh;
}

/* about me section */
.MamelloImage{
    width: 200px;
    border: 1px solid white;
}

/* Services/ Subjects tutored */

.hideMobile{
  display: none;
}

.hide{
  display: block;
}

.hid{
  display: none;
}
.FontIcon{
  padding: 20px;
  margin-left: 35vw;
  font-size: 2em;
  border-radius: 100%;
  border: 1px solid red;
  background-color: black;
}

.card{
  border: none;
  background-color: black;
}

/* Testimonials section */

.TestimonalsDivs{
  padding-bottom: -20vh;
}
span{
  color: #eb2893;
}
.QuotationMark{
  font-size: 2em;
}

.carousel-inner{
 
  background: transparent;

  text-shadow: pink;
}
/* footer section */
 /* footer text */
 .CopyText{
  text-align: center;
  font-size: 14px;
}
.WebsiteDeveloper{
  color:#f7931e;
}
/* MediaIcons for mobile device footer */
.mediaIcons{
  text-align: center;
  padding-top: 5px;
}


   /* media queries */
 
 /* // Extra small devices (portrait phones, less than 576px) */
 /* // No media query for `xs` since this is the default in Bootstrap */
 
 /* // -Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) and (orientation: landscape) { 
 
   
 }
 
 /* -Medium devices (tablets or ipad) */
 @media (min-width: 768px) {

   /* burger navbar */
  .Bars{
    margin-left: 5vw;
    margin-top: 2vh;

  }

    /* Landing  section */
  .LandingSection{
    margin-top:-32vh;
  }

  .bookButton{
    width: 25vw;
  }

  
  /* about me section */
 /* Tutor Mamello Maleka's image */
  .MamelloImage{
    margin-bottom: 2vh;
  } 
  .ServicesIcons{
    width: 20vw;
    height: 30vh;
  }
 
}
 
 /* -Large devices (ipad pro) */
 @media (min-width: 992px) { 

  /* General classes */
  .mobile-only{
      display: none;
  }
  .mobile-Nav{
    display: none;
  }
  .Desktop{
  display: block;
  margin-top: 2vw;
  }  
  .hide{
    display: none;
    }
  .hid{
    display: block;
  }

  /* Desktop navbar */
  .nav-link{
    color: pink;
    margin-left: 10px;
    font-weight: 200;
    font-size: 0.8em;
  }
  .nav-link:hover{
      color: #f7931e;
      text-shadow: 0 -1px 0 #eb5e28;
      /* text-decoration: underline; */
      background-color: maroon;
  }    

 
  /* Landing  section */
  .LandingSection{
    margin-top:-20vh;
  }
  .IntroDiv{
    padding-top: 20vh;
  }

  /* About section */
  .MamelloImage{
    width: 180px;
    margin-top: 2vh;
    margin-left: 12vw;
  } 

   /* services section */
  .ServicesIcons{
    width: 15vw;
    height: 22vh;
  }
  .DesktopServicesDiv{
    margin-bottom: -15vh;
  }

  .card{
    border: none;
  }
.FontIcons{
    font-size: 3em;
    margin-left: 6vw;
    margin-top: 2vh;
    color: magenta;
    border-radius: 50%;
    border: 1px solid lime;
    padding: 20px;
}
 
 }
 @media screen and (min-width: 1200px) {
    /* media icons on the navbar */
  .MediaDiv{
    margin-bottom: -40vh;
    padding-top: 50px;
    margin-left: 15vw;
    }
  
  /* about me section */
  .MamelloImage{
    width: 200px;
    margin-top: 5vh;
    margin-left: 15vw;
  }  
  /* Services section */
  .ServicesIcons{
    width: 10vw;
    height: 10vh;
  }
  .DesktopServicesDiv{
    margin-bottom: 12vh;
  }
  .FontIcons{
    margin-left: 8vw;
    margin-top: 5vh;
   }
  }
  
   @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

   }